<h1 class="page-title">{{featured.leadItems.length+featured.introItems.length > 1?'À l’affiche':featured.leadItems[0].title || featured.introItems[0].title}}</h1>

<section ng-if="featured.leadItems.length+featured.introItems.length > 1">
   <article ng-repeat="item in featured.leadItems" ng-include="tmplPath+'/html/angular-views/article-content.html'"></article>
</section ng-if="featured.leadItems.length+featured.introItems.length > 1">
<section>
   <article ng-repeat="item in featured.introItems" ng-include="tmplPath+'/html/angular-views/article-content.html'"></article>
</section>

<section ng-if="featured.leadItems.length+featured.introItems.length == 1">
   <article ng-repeat="item in featured.leadItems.concat(featured.introItems)">
      <div class="inner" ng-bind-html="item.introtext+item.fulltext"></div>
      <div class="tags" ng-include="tmplPath+'/html/angular-views/article-tags.html'" ng-if="item.tags.itemTags.length>0"></div>
   </article>
</section
