<h1 class="page-title">Résultats de la recherche</h1>
<section>
   <article>
      <h1>« {{searchForm.origKeyword}} » <i class="fa fa-arrow-right"></i> {{searchForm.total}} resultat{{(searchForm.total>1)?'s':''}}</h1>
      <div class="inner">
         <ul class="results">
            <li ng-if="searchForm.results.length == 0">
               <h4>Aucun résultat pour cette requête.</h4>
            </li>
            <li ng-repeat="item in searchForm.results">
               <h4><a ng-href="./{{item.href}}">{{item.title}}</a></h4>
               <p><em>({{item.section}})</em></p>
               <div ng-bind-html="item.text"></div>
            </li>
         </ul>
      </div>
   </article>
</section>
